<!--Создание универсальной формы, с помощью которой можно создавать и изменять уже существующие записи в БД.-->
<!--Используется представлениями: new и edit-->
<%= form_for @note do |f| %>
  <!--Вывод ошибок валидации-->
  <% if @note.errors.any? %>
  <div id="error_explanation">
    <h2>Получены <%= @note.errors.count %> ошибок при сохранении:</h2>
    <ul>
    <% @note.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    Название<br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    Описание<br>
    <%= f.text_area :description %>
  </p>
  
  <p>
    Дата события<br>
    <%= datetime_local_field(:note, :eventDate) %>
  </p>
  
  <p>
    Приоритет<br>
    <%= f.text_field :priority %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>