<div class="slider-wrapper theme-halftone">
    <div class="headline">Сегодня</div>
    <div class="body-part">
      <!--Таблица с записями за сегодняшний день-->
      <table class="flat-table flat-table-2">
        <thead>
          <th>Title</th>
          <th>Description</th>
          <th>Date</th>
          <th id="sortBy">Priority</th>
          <th>Show</th>
          <th>Edit</th>
          <th>Delete</th>
        </thead>
        <tbody>
        <% @notes.each do |note| %>
          <tr>
            <td><%= note.title %></td>
            <td><%= note.description %></td>
            <td><%= date_field("note", "eventDate", value: note.eventDate.to_date) %></td>
            <td><%= note.priority %></td>
            <td><%= link_to 'Show', { action: "show", id: note.id } %></td>
            <td><%= link_to 'Edit', { action: "edit", id: note.id } %></td>
            <td><%= link_to 'Delete', { action: "destroy", id: note.id },
                                      method: :DELETE, data: { confirm: "Are you sure?" } %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
</div>
<div class="headline">Календарь</div>
<div class="body-part">
  <div id='calendar'></div>
  <table style="margin-left: 220px;">
    <tbody>
      <tr>
        <td style="padding: 0em 10em 0em 2em;">
          <a href="<%= url_for :action => 'new'%>" class="AddNewButton">Добавить</a>
        </td>
        <td>
          <a href="#" class="ShowAllButton">Показать все</a> 
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!--Содержит обработчики событий нажатия на кнопку "Показать все" и любую дату-->
<script src='/assets/ajax-table.js'></script>

<!--Вывод результатов подгрузки дополнительного контента с помощью AJAX-->
<div class="slider-wrapper theme-halftone">
  <div class="headline">Результаты</div>
  <div class="body-part">
    <div id="selectedDate">
      <!--FFFFFFFF--> 
    </div>
  </div>
</div>