<div class="headline">Сегодня</div>
<div class="slider-wrapper">    
    <div class="body-part">
      <!--Таблица с записями за сегодняшний день-->
      <table class="flat-table flat-table-2">
        <thead>
          <th>Назв.</th>
          <th>Описание</th>
          <th>Время</th>
          <th id="sortBy">Приоритет</th>
          <th>Показать</th>
          <th>Изменить</th>
          <th>Удалить</th>
        </thead>
        <tbody>
        <% @notes.each do |note| %>
          <tr>
            <td><%= note.title %></td>
            <td><%= note.description %></td>
            <td><%= note.eventDate.strftime("%H:%M")  %></td>
            <td><%= note.priority %></td>
            <td><%= link_to 'Показать', { action: "show", id: note.id } %></td>
            <td><%= link_to 'Изменить', { action: "edit", id: note.id } %></td>
            <td><%= link_to 'Удалить', { action: "destroy", id: note.id },
                                      method: :DELETE, data: { confirm: "Are you sure?" } %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
</div>
<div class="headline">Календарь</div>
<div class="body-part">
  <div id='calendar'></div>
  <table style="margin-left: 250px; margin-bottom: 30px;">
    <tbody>
      <tr>
        <td style="padding: 0em 10em 0em 2em;">
          <a href="<%= url_for :action => 'new'%>" class="AddNewButton">Добавить</a>
        </td>
        <td>
          <a href="#" class="ShowAllButton">Показать все</a> 
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!--Вывод результатов подгрузки дополнительного контента с помощью AJAX-->
<div class="headline">Результаты</div>
<div class="slider-wrapper">
  <div class="body-part">
    <div id="selectedDate">
      <!--FFFFFFFF--> 
    </div>
  </div>
</div>