<!--Если были найдены элементы, удовлетворяющие критериям поиска, то выводим их.-->
<% if @notes.count != 0 %>
  <table class="flat-table flat-table-3">
    <!--Шапка таблицы-->
    <thead>
      <th>Назв.</th>
      <th>Описание</th>
      <th>Дата</th>
      <th id="sortBy">Приоритет</th>
      <th>Показать</th>
      <th>Изменить</th>
      <th>Удалить</th>
    </thead>
    <tbody>
      <!--Поэлементно выводим найденные элементы-->
      <% @notes.each do |note| %>    
        <tr>
          <td><%= note.title %></td>
          <td><%= note.description %></td>
          <td><%= note.eventDate.to_date %></td>
          <td><%= note.priority %></td>
          <td><%= link_to 'Показать', { action: "show", id: note.id } %></td>
          <td><%= link_to 'Изменить', { action: "edit", id: note.id } %></td>
          <td><%= link_to 'Удалить', { action: "destroy", id: note.id },
                                    method: :delete, data: { confirm: "Are you sure?" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<!--Если элементы, удовлетворяющие критериям поиска, не были найдены, то выводим соответствующее сообщение-->
<% else %>
  <%= "Список событий на выбранную дату пуст" %>
<% end %>

  
  
