<!--Вывод информации о выбранном событии-->
<div class="slider-wrapper theme-halftone">
  <div class="headline">Информация о <%= @note.title %></div>
    <div class="body-part">
      <p>
        <strong>Название:</strong>
        <%= @note.title %>
      </p>
       
      <p>
        <strong>Описание:</strong>
        <%= @note.description %>
      </p>
      
      <p>
        <strong>Дата события:</strong>
        <%= @note.eventDate %>
      </p>
      
      <p>
        <strong>Приоритет:</strong>
        <%= @note.priority %>
      </p>
    </div>
</div>